# --------- PPPoE Server ---------#
/interface ethernet
set [ find default-name=ether1 ] name=ether0
set [ find default-name=ether2 ] name=ether1
/ip address
add interface=ether1 address=192.168.1.2/24 network=192.168.1.0
add interface=ether1 address=192.168.100.1/24 network=192.168.100.0
#----------------------------------#
/ip pool
add name=pppoe-pool ranges=192.168.100.2-192.168.100.10
/ppp profile
add name=pppoe-profile local-address=192.168.100.1 remote-address=pppoe-pool
/ppp secret
add name=user1 password=user1 profile=pppoe-profile service=pppoe
/interface pppoe-server server
add service-name=pppoe-server default-profile=pppoe-profile disabled=no interface=ether1
